<!DOCTYPE html>
<html>
<head>
  <title>Seu Aplicativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>
